/* nejsme vcerejsi, pouzivame moderni box model */

*,
 :after,
 :before {
    box-sizing: border-box;
}


/* barvicky elementů na stránce */

body {
    display: flex;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

header,
footer {
    background: yellowgreen;
    flex-basis: 100%;
    height: 20vh;
}

aside {
    background: beige;
    flex-basis: 20vw;
    height: 60vh;
}

article {
    flex-grow: 1;
    height: 60vh;
}

nav {
    background: lightsteelblue;
    width: 20vw;
    height: 100vh;
}


/* -------------------------------------------- */


/* tady piš svoje CSS */


/* -------------------------------------------- */